.ResumePage {
    display: flex;
    justify-content: space-between;
    ;
    padding: 4rem 8rem;
    .ResumeCardsContainer {
        width: fit-content;
        grid-template-columns: 1fr 1fr;
    }
}